body {
 	margin: 0;
	padding: 0 6px;
     }
body { 	font-family: arial,helvetica,sans-serif;
		font-size: 10pt; }
td { 	font-family: arial,helvetica,sans-serif;
		font-size: 10pt; }
H1 { font-family: arial, helvetica, sans-serif; font-size: 16pt; font-weight: bold; }
H2 { font-family: arial, helvetica, sans-serif; font-size: 16pt; font-weight: bold; }
H3 { font-family: arial, helvetica, sans-serif; font-size: 14pt; }
H4 { font-family: arial, helvetica, sans-serif; font-size: 11pt; }

 a:link	{ color: #003366; }  

 a:visited { color: #990000; } 

.header	{ font-size: 12pt; font-weight: bold; color: #666666; }
.mainheader { font-size: 12pt; font-weight: bold; color: #930; }
.subheader  { font-family: arial, helvetica, sans-serif; font-size: 12pt; }  

.lightheader	{ font-size: 12pt; font-weight: bold; color: #ffffff; }

.errorheader { font-family: arial,helvetica,sans-serif; font-size: 14pt; color: #FF0000; }

.formheader { font-family: arial,helvetica,sans-serif; font-size: 9pt; font-weight: bold; }
.catalogheader { font-family: arial,helvetica,sans-serif; font-size: 16pt; font-weight: bold; }
.profileheader { font-family: arial,helvetica,sans-serif; font-size: 11pt; color:#000000; font-weight: bold;}

.emphasis { font-family: arial, helvetica, sans-serif; color:#FF0000; }


.minilinks  { font-size: 9pt; color: #666666; }

.currlink	{	font-weight: bold;
				color: #555555; }
.small	{	font-size: 9pt; }

.body    { 	font-family: arial,helvetica,sans-serif; font-size: 10pt; }


.req { font-family: arial,helvetica,sans-serif; font-size: 10pt; font-weight: bold; color:#FF0000; }

.sequence { font-family: arial,helvetica,sans-serif; font-size: 10pt; text-align: justify; }

.status{ font-family: arial,helvetica,sans-serif; font-size:9pt; color:#FF0000; }
