.sm {  font-family:arial,helvetica,sans-serif;font-size:9pt}
.fixed {  font-family: "Courier New", Courier, mono}
th {  font-family: arial, helvetica, sans-serif; font-size:10pt}
p  {  font-family: arial, helvetica, sans-serif; font-size:10pt}

